body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    justify-content: center;
    text-align: center;
    background:#eaedeeb3;
}

section {
    color: #000000b0;
    max-width: 800px;
    margin: 1rem auto;
}

a:link,
a:visited {
    color: #000;
    text-decoration: none;
}
